<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'>
     
    <Fragment>
        <DirectoryRef Id='DriversDir'>
            <Directory Id='XenvbdDir'
                       Name='xenvbd'>
                <Component Id='XenvbdDriver'
                           Guid='{87BAEE21-4695-4B75-A484-0A6136B70516}'>
                           
                    <File Id='XenvbdInf'
                          Source='$(env.QUBES_BIN)\xenvbd.inf'
                          KeyPath='yes' />
                    <File Id='XenvbdCat'
                          Source='$(env.QUBES_BIN)\xenvbd.cat' />
                    <File Id='XenvbdSys'
                          Source='$(env.QUBES_BIN)\xenvbd.sys' />
                    <File Id='XendiskSys'
                          Source='$(env.QUBES_BIN)\xendisk.sys' />
                    <File Id='XencrshSys'
                          Source='$(env.QUBES_BIN)\xencrsh.sys' />
                    <File Id='XenvbdCoinst'
                          Source='$(env.QUBES_BIN)\xenvbd_coinst.dll' />
                    <difx:Driver />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>
